{% extends 'JacHomeBundle:Default:main.html.twig' %}

{% block title %}Juntas de Alta Calidad | Inicio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jachome/css/home.css') }}" />
{% endblock %}

{% block content %}
    <section class="main-content">
        <h2>Historia</h2>
        <p id="history-content">
            Juntas de Alta Calidad fue fundada en 1990, est&#xe1; dedicada a la producci&#xf3;n y comercializaci&#xf3;n de
            juntas para servicio pesado, orientadas a los motores Diesel: Cummins, Perkins, Mercedes-Benz
            y Navistar, as&#xed; como para transmisiones. Nuestra organizaci&#xf3;n se configur&#xf3; debido a la necesidad
            planteada por el mercado del autotransporte de pasaje y carga en el pa&#xed;s, de disponer de juntas
            que garantizan la adecuada operaci&#xf3;n de los componentes.
        </p>
        <p id="more-products">
            <img alt="" src="{{ asset('bundles/jachome/images/more_products.jpg') }}" />
            <a href="{{ path('jac_products_homepage') }}">Conoce nustros productos</a>, tenemos una gran diversidad de juntas en nuestras líneas de productos.
        </p>
    </section>
{% endblock %}