{% extends 'JacHomeBundle:Default:main.html.twig' %}

{% block title %}Juntas de Alta Calidad | Aviso de Privacidad{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .main-content {
            width: 890px;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="main-content">
        <h2>AVISO DE PRIVACIDAD</h2>
        <p>
            Estimado Cliente, como probablemente sea de su conocimiento el día 6 de julio de 2010, entró
            en vigor en México la <strong>Ley Federal de Protección de Datos Personales en Posesión de los
            Particulares</strong>, la cual hace referencia al manejo de la información personal que recibimos los
            particulares y su tratamiento. En vista de lo anterior Juntas de Alta Calidad, S.A. de C.V., tiene a
            bien emitir el presente Aviso de Privacidad:
        </p>
        <h3>Responsable de la protección de sus datos personales</h3>
        <p>
            Juntas de Alta Calidad, S.A. de C.V., informa, notifica, avisa y hace del conocimiento de Usted,
            quien en lo sucesivo será denominado como “Cliente”, quien a su vez entiende, reconoce y acepta
            que, el responsable del tratamiento de sus datos personales es <strong>Juntas de Alta Calidad, S.A. de
            C.V.</strong> con domicilio en Cerrada de Aztecas No.74 Colonia Barrio de la Asunción, Iztapalapa D.F., por
            medio del correo electrónico <a href="mailto:contacto@juntasdealtacalidad.com.mx">contacto@juntasdealtacalidad.com.mx</a>
        </p>
        <h3>¿Para qué fines recabamos y utilizamos sus datos personales?</h3>
        <p>
            <strong>Juntas de Alta Calidad, S.A. de C.V.</strong> utilizará y tratará la información y datos personales, financieros
            y/o patrimoniales que el “Cliente” proporcione a este Sitio o de manera directa (en nuestra oficina o
            vía telefónica y/o correo electrónico), para:
        </p>
        <ul>
            <li>Proporcionar información acerca de nuestros productos</li>
            <li>Dar el servicio de atención al cliente</li>
            <li>Registrar su información y datos personales, financieros y/o patrimoniales en nuestra base de datos</li>
            <li>Recibir y/o cotizar pedidos</li>
            <li>Fabricar y/o elaborar pedidos</li>
            <li>Verificar pedidos</li>
            <li>Procesar información para facturación y control administrativo, contable, cobranza judicial y extrajudicial</li>
            <li>Realizar llamadas telefónicas</li>
            <li>Entregar, embarcar o enviar (según sea el caso) pedidos, cartas y/o emisión de comunicaciones contenidas en cualquier medio electrónicos (correo) además algunos servicios en el Sitio</li>
            <li>Informar sobre cambios o nuevos productos o servicios que estén relacionados con el adquirido por el “Cliente”</li>
            <li>Evaluar la calidad del servicio y/ Realizar estudios internos sobre hábitos de consumo</li>
            <li>Y cualquier otra actividad necesaria para la proveer de nuestros productos</li>
        </ul>
        <p>
            Si el “Cliente” entrega Información Personal por alguna razón, podemos usarla para asociarla con la
            razón por la cual fue proporcionada. Por ejemplo, si el “Cliente” se pone en contacto con nosotros a
            través de un formulario electrónico o por correo electrónico, podemos usar la Información Personal
            que nos proporciona para contestar su(s) pregunta(s) o resolver su problema. De esta manera,
            cada comunicación que recibamos del “Cliente” tendrá la opción de permitir o no recibir futuras
            comunicaciones de nuestra parte.
        </p>
        <h3>¿Qué datos personales obtenemos y de dónde?</h3>
        <p>
            Para poder brindar nuestros productos y servicios antes mencionados, le pedimos proporcionar la
            información personal en nuestro sitio o bien de forma directa (en nuestra oficina o vía telefónica y/
            o correo electrónico), los datos que requerimos son: nombre o razón social, Registro Federal de
            Contribuyentes (RFC) y Clave Única de Registro de Población (CURP) en caso de ser persona
            física, dirección fiscal de la empresa, Código Postal, Estado, Municipio o Delegación, su(s)
            número(s) telefónico(s) y número de cliente (en caso de tenerlo), dirección de entrega o envío de
            pedido y dirección de correo electrónico.
            <br />
            Una vez que el “Cliente” decide entregarnos la información personal, puede estar seguro que la
            misma será usada sólo para apoyar la relación de éste con Juntas de Alta Calidad S.A. de C.V.
            Esto incluye el responder a su solicitud de información, verificación de productos, mejorar nuestros
            productos y comunicarnos con él sobre su cuenta y sobre productos y servicios, y comunicados en
            general, que pensamos serán del interés del “Cliente”.
        </p>
        <h3>¿Cómo puede limitar el uso o divulgación de sus datos personales?</h3>
        <p>
            Nuestro negocio no es la venta de información de nuestros clientes. Consideramos esta información
            como parte vital de nuestra relación con los mismos y la tratamos con mucho cuidado y el debido
            respeto, por lo cual no será compartida la información y/o proporcionada a terceros.
            <br />
            Juntas de Alta Calidad, S.A. de C.V sólo divulgará y/o transferirá dicha información a:
        </p>
        <ol type="a">
            <li>
                La persona titular autorizada para recibir este tipo de información y que muestre la autorización
                correspondiente por medio de carta en hoja membretada de la empresa o quien esté
                autorizado por medio de poder notarial y/o a la persona física a quien se le facture previa
                verificación de alguna credencial oficial con fotografía.
            </li>
            <li>
                Las autoridades e instituciones que legalmente lo requieran de acuerdo al artículo 37 de la Ley
                Federal de Protección de Datos Personales en Posesión de los Particulares.
            </li>
        </ol>
        <h3>¿Cómo acceder o rectificar sus datos personales o cancelar u oponerse a su uso?</h3>
        <p>
            En todo caso, el “Cliente” cuenta con el derecho de Acceso a sus datos personales y a los detalles
            del tratamiento de los mismos; así como la Rectificación en caso de ser inexactos o incompletos;
            Cancelación cuando considere que no se requieren para alguna(s) de las finalidades señaladas
            en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya
            finalizado la relación contractual o de servicio; o bien de Oposición al tratamiento de los mismos
            para fines específicos. El derecho de Acceso, Rectificación, Cancelación y Oposición (ARCO),
            podrá ser ejercido mediante la solicitud de Acceso, Rectificación, Cancelación u Oposición a los
            datos personales, de manera directa y/o por medio electrónico por parte del “Cliente”, ésta deberá
            contener y acompañar lo siguiente:
        </p>
        <ol type="a">
            <li>
                El nombre y domicilio del Cliente, así como la información para hacer llegar e informarle la
                respuesta a su solicitud;
            </li>
            <li>
                Los documentos que acrediten su identidad o, en su caso, su representación legal;
            </li>
            <li>
                La descripción clara y precisa de los datos personales respecto de los que se busca ejercer
                alguno de los derechos antes mencionados; y
            </li>
            <li>
                Cualquier otro elemento o documento que facilite la localización de los datos personales.
            </li>
        </ol>
        <p>
            En caso de que la solicitud no cumpla con los requisitos anteriores, no podrá ser procesada y
            contestada por Juntas de Alta Calidad, S.A. de C.V. el plazo para atender la solicitud es de máximo
            15 días hábiles una vez recibida la solicitud.
        </p>
        <h3>¿Cómo puede revocar su consentimiento para el tratamiento de sus datos?</h3>
        <p>
            Se puede revocar el consentimiento al uso de los datos personales por medio de La solicitud de
            Acceso, Rectificación, Cancelación u Oposición a los datos personales con las características antes
            mencionadas. Cabe señalar que Juntas de Alta Calidad S.A. de C.V. y el “Cliente” acuerdan y el
            “Cliente” entiende, reconoce y acepta que la cancelación, revocación y/u oposición al uso de sus
            datos personales genera la imposibilidad para que Juntas de Alta Calidad, S.A. de C.V. ejecute este
            Contrato y preste los servicios derivados del mismo, por lo que dicha cancelación, y/u oposición
            se considerará como causa de terminación anticipada de dicho Contrato, sin responsabilidad para
            Juntas de Alta Calidad, S.A. de C.V., ni obligación para:
        </p>
        <ol>
            <li>Hacer notificación alguna al “Cliente”; y</li>
            <li>
                Responder a cualquier solicitud de información, aclaración u otro requerimiento por parte del “Cliente”
                hacia Juntas de Alta Calidad, S.A. de C.V.
            </li>
        </ol>
        <h3>Sus datos pueden viajar a otro país o ser compartidos con otros</h3>
        <p>
            Juntas de Alta Calidad, S.A. de C.V se compromete a no transferir su información personal a
            terceros sin su consentimiento, salvo las excepciones previstas en el artículo 37 de la Ley Federal
            de Protección de Datos Personales en Posesión de los Particulares, así como a realizar esta
            transferencia en los términos que fija esa ley.
        </p>
        <blockquote>
            <p>
                Artículo 37.- Las transferencias nacionales o internacionales de datos podrán llevarse a cabo sin el
                consentimiento del titular cuando se dé alguno de los siguientes supuestos:
            </p>
            <ol type="I">
                <li>
                    Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea parte;
                </li>
                <li>
                    Cuando la transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de
                    asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios;
                </li>
                <li>
                    Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el
                    control común del responsable, o a una sociedad matriz o a cualquier sociedad del mismo grupo del
                    responsable que opere bajo los mismos procesos y políticas internas;
                </li>
                <li>
                    Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés
                    del titular, por el responsable y un tercero;
                </li>
                <li>
                    Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés
                    público, o para la procuración o administración de justicia;
                </li>
                <li>
                    Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un
                    proceso judicial, y
                </li>
                <li>
                    Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica
                    entre el responsable y el titular.
                </li>
            </ol>
        </blockquote>
        <p>
            Si usted no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá
            que ha otorgado su consentimiento para ello.
        </p>
        <h3>Modificaciones al aviso de privacidad</h3>
        <p>
            Juntas de Alta Calidad, S.A. de C.V. se reserva el derecho de efectuar en cualquier momento
            modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades
            legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros
            servicios o productos.
        </p>
        <p>
            Cualquier modificación al presente Aviso de Privacidad, será notificado a través de nuestra página
            web: www.juntasdealtacalidad.com.mx
        </p>
        <h3>Uso de cookies y web beacons</h3>
        <p>
            Juntas de Alta Calidad, S.A. de C.V. reconoce la importancia de informarle cómo tratamos la
            información sobre usted que recibamos de este sitio Web: www.juntasdealtacalidad.com.mx (en
            adelante "el Sitio"). Esta Declaración de Política de Privacidad cubre el Sitio y toda la información
            personal recopilada por el Sitio o su uso del Sitio. Nuestro uso de la Información Personal está
            contenido en este mismo aviso de privacidad. No obstante lo anterior, si Juntas de Alta Calidad
            S.A. de C.V. decide cambiar su Política de Privacidad, publicará la Declaración de Privacidad en
            este Sitio. Por tal motivo le solicitamos haga una revisión de la Declaración de Privacidad antes de
            ingresar su información personal.
        </p>
        <p>
            En general, usted puede navegar en este Sitio sin necesidad de decirnos quién es usted o revelar
            cualquier información sobre usted.
            <br />
            Juntas de Alta Calidad S.A. de C.V. puede utilizar la Información Personal de modo que nosotros
            podamos mejorar la navegación dentro del Sitio. Podemos recibir Información Personal de usted
            mediante su ingreso al Sitio, a través de un formulario electrónico, o de cualquier otro modo (en
            adelante también “la Información Identificable”). Usted puede decidir no entregar alguna o toda su
            Información Personal que le preguntamos, pero si no lo hace, ello puede impedirle recibir algunos
            servicios o información de nuestra parte o del sitio Web.
        </p>
        <p>
            Adicionalmente, Juntas de Alta Calidad S.A. de C.V. también recoge cierta información no
            identificable (en adelante "la Información No Identificable "). Siempre que usted interactúe
            electrónicamente con Juntas de Alta Calidad S.A. de C.V., nosotros recibimos y almacenamos cierto
            tipo de Información No identificable, entendiendo por tal aquélla información que permite saber el
            comportamiento de un usuario (cualquier persona natural, que actúe por sí o en representación de
            un tercero) del cual desconocemos su identidad. Por ejemplo, podemos usar "cookies" para obtener
            la información cuando su navegador Web tiene acceso a este Sitio. Una “cookie” es un identificador
            alfanumérico que transferimos a su computador por medio de su navegador Web y se almacena
            en el disco duro de su computador. Esta “cookie” nos permite reconocer su computador cuando
            usted visita nuestro Sitio. En la mayoría de los navegadores Web usted encontrará una sección "de
            ayuda" sobre la barra de tareas. Por favor visite esta sección para obtener información sobre cómo
            recibir una notificación cuando usted recibe una nueva “cookie”, y cómo apagar las “cookies”. Le
            recomendamos que usted deje las “cookies” activadas porque ello le permitirá aprovechar algunas
            características y facilidades de nuestro Sitio.
        </p>
        <h3>¿Ante quién puede presentar sus quejas y denuncias por el tratamiento indebido de sus datos personales?</h3>
        <p>
            Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna
            conducta de nuestros empleados o de nuestras actuaciones o respuestas, presume que en el
            tratamiento de sus datos personales existe alguna violación a las disposiciones previstas en la Ley
            Federal de Protección de Datos Personales en Posesión de los Particulares, podrá interponer la
            queja o denuncia correspondiente ante el IFAI, para mayor información visite www.ifai.org.mx
        </p>
    </section>
{% endblock %}