body {
    margin: 0;
    font-family: "swiss721lightbtregular";
}

nav {
    color: #ccc;
    font-size: 0.8em;
    background-color: #fcfcfc;
    border-bottom: 1px solid #f2f2f2;
    padding: 5px 0 5px 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li span {
    color: #000;
}

a:link,
a:visited,
a:active {
    color: #0054A6;
    text-decoration: none;
}

a:hover {
    color: #0054A6;
    text-decoration: underline;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

section {
    padding: 0 15px;
}

.form-field label {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
}